<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Acr.Settings" version="6.0.1" targetFramework="xamarinios10" />
  <package id="Acr.Support" version="2.1.0" targetFramework="xamarinios10" />
  <package id="Acr.UserDialogs" version="6.5.1" targetFramework="xamarinios10" />
  <package id="BTProgressHUD" version="1.2.0.6" targetFramework="xamarinios10" />
  <package id="ExifLib.PCL" version="1.0.1" targetFramework="xamarinios10" />
  <package id="Fody" version="2.2.0" targetFramework="xamarinios10" developmentDependency="true" />
  <package id="Microsoft.Bcl.Build" version="1.0.21" targetFramework="xamarinios10" />
  <package id="Microsoft.CSharp" version="4.3.0" targetFramework="xamarinios10" />
  <package id="Microsoft.NETCore.Platforms" version="1.1.0" targetFramework="xamarinios10" />
  <package id="NETStandard.Library" version="2.0.0" targetFramework="xamarinios10" />
  <package id="Newtonsoft.Json" version="10.0.3" targetFramework="xamarinios10" />
  <package id="PCLCrypto" version="2.0.147" targetFramework="xamarinios10" />
  <package id="PInvoke.BCrypt" version="0.3.2" targetFramework="xamarinios10" />
  <package id="PInvoke.Kernel32" version="0.3.2" targetFramework="xamarinios10" />
  <package id="PInvoke.NCrypt" version="0.3.2" targetFramework="xamarinios10" />
  <package id="PInvoke.Windows.Core" version="0.3.2" targetFramework="xamarinios10" />
  <package id="Portable.Ninject" version="3.3.1" targetFramework="xamarinios10" />
  <package id="Prism.Core" version="6.3.0" targetFramework="xamarinios10" />
  <package id="Prism.Forms" version="6.3.0" targetFramework="xamarinios10" />
  <package id="Prism.Ninject.Forms" version="6.3.0" targetFramework="xamarinios10" />
  <package id="Realm" version="2.0.0" targetFramework="xamarinios10" />
  <package id="Realm.Database" version="2.0.0" targetFramework="xamarinios10" />
  <package id="Realm.DataBinding" version="1.2.0" targetFramework="xamarinios10" />
  <package id="Remotion.Linq" version="2.1.2" targetFramework="xamarinios10" />
  <package id="Splat" version="2.0.0" targetFramework="xamarinios10" />
  <package id="System.ComponentModel.TypeConverter" version="4.3.0" targetFramework="xamarinios10" />
  <package id="System.Reflection.TypeExtensions" version="4.3.0" targetFramework="xamarinios10" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="4.3.0" targetFramework="xamarinios10" />
  <package id="System.Runtime.Serialization.Formatters" version="4.3.0" targetFramework="xamarinios10" />
  <package id="System.Runtime.Serialization.Primitives" version="4.3.0" targetFramework="xamarinios10" />
  <package id="System.Xml.XmlDocument" version="4.3.0" targetFramework="xamarinios10" />
  <package id="Validation" version="2.2.8" targetFramework="xamarinios10" />
  <package id="Xam.Plugin.Connectivity" version="4.0.0.186-beta" targetFramework="xamarinios10" />
  <package id="Xamarin.Auth" version="1.3.2.7" targetFramework="xamarinios10" />
  <package id="Xamarin.Forms" version="2.3.4.247" targetFramework="xamarinios10" />
  <package id="Xamarin.SimplePing" version="1.4.0" targetFramework="xamarinios10" />
  <package id="Xfx.Controls" version="1.0.4" targetFramework="xamarinios10" />
  <package id="XLabs.Core" version="2.0.5782" targetFramework="xamarinios10" />
  <package id="XLabs.Forms" version="2.0.5782" targetFramework="xamarinios10" />
  <package id="XLabs.IoC" version="2.0.5782" targetFramework="xamarinios10" />
  <package id="XLabs.Platform" version="2.0.5782" targetFramework="xamarinios10" />
  <package id="XLabs.Serialization" version="2.0.5782" targetFramework="xamarinios10" />
</packages>