<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Acr.UserDialogs" version="6.5.1" targetFramework="portable45-net45+win8+wpa81" />
  <package id="ExifLib.PCL" version="1.0.1" targetFramework="portable45-net45+win8+wp8+wpa81" />
  <package id="Fody" version="2.2.0" targetFramework="portable45-net45+win8+wpa81" developmentDependency="true" />
  <package id="Newtonsoft.Json" version="10.0.3" targetFramework="portable45-net45+win8+wpa81" />
  <package id="Portable.Ninject" version="3.3.1" targetFramework="portable45-net45+win8+wp8+wpa81" />
  <package id="Prism.Core" version="6.3.0" targetFramework="portable45-net45+win8+wp8+wpa81" requireReinstallation="true" />
  <package id="Prism.Forms" version="6.3.0" targetFramework="portable45-net45+win8+wp8+wpa81" requireReinstallation="true" />
  <package id="Prism.Ninject.Forms" version="6.3.0" targetFramework="portable45-net45+win8+wp8+wpa81" requireReinstallation="true" />
  <package id="PropertyChanged.Fody" version="2.1.4" targetFramework="portable45-net45+win8+wpa81" developmentDependency="true" />
  <package id="Splat" version="2.0.0" targetFramework="portable45-net45+win8+wpa81" />
  <package id="Xamarin.Forms" version="2.3.4.247" targetFramework="portable45-net45+win8+wp8+wpa81" requireReinstallation="true" />
  <package id="Xfx.Controls" version="1.0.4" targetFramework="portable45-net45+win8+wp8+wpa81" requireReinstallation="true" />
  <package id="XLabs.Core" version="2.0.5782" targetFramework="portable45-net45+win8+wp8+wpa81" requireReinstallation="true" />
  <package id="XLabs.Forms" version="2.0.5782" targetFramework="portable45-net45+win8+wp8+wpa81" requireReinstallation="true" />
  <package id="XLabs.IoC" version="2.0.5782" targetFramework="portable45-net45+win8+wp8+wpa81" requireReinstallation="true" />
  <package id="XLabs.Platform" version="2.0.5782" targetFramework="portable45-net45+win8+wp8+wpa81" requireReinstallation="true" />
  <package id="XLabs.Serialization" version="2.0.5782" targetFramework="portable45-net45+win8+wp8+wpa81" requireReinstallation="true" />
</packages>