
/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"] {
    width: 100%;
}

.dataTables_length > label {
    font-weight: normal !important;
}

#datatable_filter > label {
    font-weight: normal !important;
}

#bottom-fixed-message {
    position: fixed;
    top: 81px;
    left: 0;
    right: 0;
    padding: 0px;
    z-index: 555;
    text-align: right;
}

    #bottom-fixed-message .alert {
        margin-top: -60px;
        margin-right: 10px;
        float: right;
        clear: both;
        margin-bottom: 0;
        min-width: 320px;
        text-align: left;
    }

.title {
    display: block;
    margin-bottom: .4em;
    margin-top: 0;
}

.col_layoutaccount {
    color: black;
    width: 25%;
    height: 100%;
    position: fixed;
    padding: 0px !important;
}
/* QR code generator */
#qrCode {
    margin: 15px;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
}
