<!DOCTYPE html>
<html lang="en" style="display:grid">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <!-- Meta, title, CSS, favicons, etc. -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Agenda CCB @DateTime.Now.Year </title>
    <!-- Bootstrap -->
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    <link rel="shortcut icon" href="~/favicon.ico">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="~/lib/font-awesome/css/font-awesome.min.css" />
    <!-- NProgress -->
    <script src="~/lib/vendors/nprogress/nprogress.js"></script>
    <!-- Animate.css -->
    <link href="~/lib/vendors/animate.css/animate.min.css" rel="stylesheet">
    <!-- Custom Theme Style -->
    <link href="~/lib/build/css/custom.min.css" rel="stylesheet">
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body class="login">
    @*<div class="left_col col_layoutaccount">

        </div>*@
    <div>
        @RenderBody()
    </div>
    <!-- jQuery -->
    <script src="~/lib/vendors/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/jquery-mask/dist/jquery.maskedinput-1.3.1.min.js"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
    <!-- Bootstrap -->
    <script src="~/lib/vendors/bootstrap/dist/js/bootstrap.min.js"></script>

    <!-- FastClick -->
    <script src="~/lib/vendors/fastclick/lib/fastclick.js"></script>
    <!-- NProgress -->
    <script src="~/lib/vendors/nprogress/nprogress.js"></script>    
    <!-- jQuery Sparklines -->
    <script src="~/lib/vendors/jquery-sparkline/dist/jquery.sparkline.min.js"></script>
    <!-- morris.js -->
    <script src="~/lib/vendors/raphael/raphael.min.js"></script>
    <script src="~/lib/vendors/morris.js/morris.min.js"></script>
    <!-- gauge.js -->
    <script src="~/lib/vendors/gauge.js/dist/gauge.min.js"></script>
    <!-- bootstrap-progressbar -->
    <script src="~/lib/vendors/bootstrap-progressbar/bootstrap-progressbar.min.js"></script>
    <!-- Skycons -->
    <script src="~/lib/vendors/skycons/skycons.js"></script>
    <!-- Flot -->
    <script src="~/lib/vendors/Flot/jquery.flot.js"></script>
    <script src="~/lib/vendors/Flot/jquery.flot.pie.js"></script>
    <script src="~/lib/vendors/Flot/jquery.flot.time.js"></script>
    <script src="~/lib/vendors/Flot/jquery.flot.stack.js"></script>
    <script src="~/lib/vendors/Flot/jquery.flot.resize.js"></script>
    <!-- Flot plugins -->
    <script src="~/lib/vendors/flot.orderbars/js/jquery.flot.orderBars.js"></script>
    <script src="~/lib/vendors/flot-spline/js/jquery.flot.spline.min.js"></script>
    <script src="~/lib/vendors/flot.curvedlines/curvedLines.js"></script>
    <!-- DateJS -->
    <script src="~/lib/vendors/DateJS/build/date.js"></script>
    <!-- bootstrap-daterangepicker -->
    <script src="~/lib/vendors/moment/min/moment.min.js"></script>
    <script src="~/lib/vendors/bootstrap-daterangepicker/daterangepicker.js"></script>
    <!-- Custom Theme Scripts -->
    <script src="~/lib/build/js/custom.min.js"></script>

    <script src="~/lib/bootstrap/dist/js/bootstrap-checkbox.min.js"></script>

</body>
</html>

@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
}
